runge
uebung2.pdf
test.c
test.exe
.vscode/tasks.json
runge.exe
newton-interpolation.exe
uebung.pdf
neville-aitken.c
newton-interpolation.c
stuetzpunkte.txt
test.txt
Data_interpolation.txt
runge_backup.c
runge.c
interpolation.exe
runsh.sec
neville-aitken.exe
neville-ergebnis.txt
neville.exe
stuetzstellen.exe

