runge
uebung2.pdf
test.c
test.exe
.vscode/tasks.json
runge.exe
newton-interpolation.exe
uebung.pdf
neville-aitken.c
newton-interpolation.c
stuetzpunkte.txt
test.txt
Data_interpolation.txt
stuetzstellen.exe
runge_backup.c
runge.c
